/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #242424;
  background-color: rgb(249, 246, 241);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.input-img-search {
  font-family: "Montserrat", sans-serif;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 272px;
  height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #808080;
  padding: 0px 16px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.input-img-search:hover {
  border: 1px solid #000;
}

.input-img-search:focus,
.input-img-search:active {
  border: 1px solid #4e75ff;
}

.btn-search {
  font-family: "Montserrat", sans-serif;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  box-sizing: border-box;
  
  height: 40px;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-search:hover {
  background-color: #6c8cff;
}

#search {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}



.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.gallery-image {
  border: 1px solid #808080;
  border-radius: 5px;
  height: 200px;
  display: flex;
}

.image-info {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 55px;
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  width: 360px;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  background: #fff;
}

p {
  width: 34px;
  height: 40px;
  font-weight: 600;
}

.gallery-item {
  list-style-type: none;
}

.loader {
  width: 8px;
  height: 40px;
  border-radius: 4px;
  display: block;
  margin: 20px auto;
  position: relative;
  background: currentColor;
  color: #4e75ff;
  box-sizing: border-box;
  animation: animloader 0.3s 0.3s linear infinite alternate;
}

.loader::after,
.loader::before {
  content: '';
  width: 8px;
  height: 40px;
  border-radius: 4px;
  background: currentColor;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  box-sizing: border-box;
  animation: animloader 0.3s 0.45s linear infinite alternate;
}

.hidden {
  display: none;
}

.loader::before {
  left: -20px;
  animation-delay: 0s;
}

@keyframes animloader {
  0% {
    height: 48px;
  }

  100% {
    height: 4px;
  }
}